.bg-img {
    background-image: url("resource/patt_background.jpg");
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.container {
  position: absolute;
  margin: 20px;
  width: auto;
  right: 10px;
  top: 5px;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0);
  float: right;
  border-radius: 5px;
}

.topnav a {
  float: left;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}

.topnav a:hover {
  background-color: #cc3d00;
  color: white;
  text-decoration: none;
}

.textbox1 {
  position: relative;
  display: grid;
  margin: auto;
  top: 90px;
  right: 20%;
  background-color: rgb(240, 240, 240);
  color: black;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 80px;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.textbox1 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: 35px;
}

.textbox1 h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}

.textbox1 p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 2.5;
}

.row {
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;

  text-align: center;
}

.footer {
  padding: 20px;
  background-color: #f7f7f7;
}
